# Mailfence proxy
NGINX_VERSION=1.21.1

# L2TP Proxy

VPN_IPSEC_PSK=someipsekpsk
VPN_USER=someuser
VPN_PASSWORD=somepwd

VPN_DNS_NAME=vpn.yourdomain.io

# Fetch Cloudflare for DNS
VPN_DNS_SRV1=1.1.1.1  
VPN_DNS_SRV2=1.0.0.1

# Nextcloud
ROOT_DOMAIN=yourdomain.io
NEXTCLOUD_PG_USER=pguser
NEXTCLOUD_PG_PASSWORD=pgpass
NEXTCLOUD_PG_DB=nx
NEXTCLOUD_ADMIN_USER=admin123
NEXTCLOUD_ADMIN_PASSWORD=password456

WIREGUARD_DOMAIN=wireguard.domain.io
WIREGUARD_PEERS=yourpeer1,yourpeer2
